*,
        ::after,
        ::before {
            box-sizing: border-box;
        }

        html,
        body {
            margin: 0;
            height: 0;
            background-color: #f5f5f5;
            font-family: 'Rubik', sans-serif;
        }

        html {
            scroll-behavior: smooth;
        }

        header.gradient {
            /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#8089ff+0,54ceff+100 */
            background: #8089ff;
            /* Old browsers */
            /* IE9 SVG, needs conditional override of 'filter' to 'none' */
            background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzgwODlmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1NGNlZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
            background: -moz-linear-gradient(left, #8089ff 0%, #54ceff 100%);
            /* FF3.6-15 */
            background: -webkit-gradient(linear, left top, right top, color-stop(0%, #8089ff), color-stop(100%, #54ceff));
            /* Chrome4-9,Safari4-5 */
            background: -webkit-linear-gradient(left, #8089ff 0%, #54ceff 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: -o-linear-gradient(left, #8089ff 0%, #54ceff 100%);
            /* Opera 11.10-11.50 */
            background: -ms-linear-gradient(left, #8089ff 0%, #54ceff 100%);
            /* IE10 preview */
            background: linear-gradient(to right, #8089ff 0%, #54ceff 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8089ff', endColorstr='#54ceff', GradientType=1);
            /* IE6-8 */
            background-size: cover;
            color: white;
            padding-bottom: 80px;
        }

        header nav {
            min-height: 100px;
            display: flex;
        }

        header nav .container {
            position: relative;
            -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-pack: justify;
            justify-content: space-between;
        }

        header nav .navbar-brand {
            display: inline-block;
            margin-right: 1rem;
            font-size: 2.55rem;
            line-height: inherit;
            white-space: nowrap;
            text-decoration: none;
            font-weight: normal;
            color: white;
        }

        header nav .navbar-nav {
            flex-direction: row;
            margin-left: auto !important;
            display: flex;
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;
            margin-top: 0;
        }

        header nav .navbar-nav a {
            text-decoration: none;
            color: white;
            font-size: 22px;
        }

        header section {
            padding: 60px 0;
            position: relative;
            width: 100%;
        }

        header section .header-img {
            text-align: center;
        }

        header section img {
            max-width: 100%;
            vertical-align: middle;
            border-style: none;
        }

        header section .content {
            margin-top: 20px;
            text-shadow: 1px 1px #8089ff;
        }

        header section h2 {
            color: #fff;
            font-size: 44px;
            font-weight: 500;
            margin-bottom: 0.5em;
            margin-top: 0;
            line-height: 1.2;
        }

        header section p {
            font-size: 15px;
            color: #fff;
            line-height: 1.7em;
            margin-bottom: 1.7em;
            margin-top: 0;
            letter-spacing: 1px;
        }

        header section .btn-download {
            position: relative;
            display: inline-block;
            background: #7b90ff;
            color: #fff;
            padding: 6px 20px 6px 52px;
            font-size: 14px;
            font-weight: 600;
            margin-right: 10px;
            margin-top: 20px;
            text-align: left;
            border: 1px solid #fff;
            border-radius: 40px;
            transition: all 0.3s;
            box-shadow: 0px 0px 45.9px 5.1px rgb(0 0 0 / 10%);
            text-decoration: none;
        }

        @media (min-width: 576px) {
            .container {
                max-width: 540px;
            }
        }

        @media (min-width: 768px) {
            .container {
                max-width: 720px;
            }
        }

        @media (min-width: 992px) {
            .container {
                max-width: 960px;
            }
        }

        .container {
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }

        .row {
            position: relative;
            z-index: 1;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-right: -15px;
            margin-left: -15px;
        }

        @media (min-width: 768px) {
            .col {
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
                max-width: 50%;
            }
        }

        .col {
            position: relative;
            width: 100%;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
        }

        section.script {
            margin-top: -66px;
            width: 100%;
            display: flex;
            justify-content: center;
        }

        section.script .content {
            max-width: 750px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
            background-color: #f5f5f5;
            border-radius: 6px;
            display: flex;
            align-content: stretch;
            overflow: hidden;
            margin: 0 1rem;
        }

        section.script .left.copied {
            padding: 2rem 1rem 2rem 2rem;
        }

        section.script .left.copy {
            padding: 2rem 2.5rem 2rem 2rem;
        }

        section.script .left {
            display: flex;
            align-items: center;
            border: none;
            cursor: pointer;
        }

        section.script .left.copied {
            display: none;
        }

        section.script .left.copied svg {
            width: 74px;
            height: 70px;
        }

        section.script .left.copy:hover {
            background-color: #6a5acd;
        }

        section.script .left.copy:hover div,
        section.script .left.copy:hover svg {
            color: #f5f5f5;
            fill: #f5f5f5;
            text-shadow: 0 -1px #222;
        }

        section.script .left.copy svg {
            width: 74px;
            fill: #675cad;
            -webkit-filter: drop-shadow(0 -1px 0 #222222);
            filter: drop-shadow(0 -1px 0 #222222);
        }

        section.script .left.copied div {
            padding-left: 0.6rem;
        }

        section.script .left.copy div {
            padding-left: 1.5rem;
        }

        section.script .left div {
            text-align: center;
            line-height: 22px;
            font-size: 16px;
            font-family: 'Rubik', sans-serif;
        }

        section.script .left.copy div {
            color: #6a5acd;
        }

        section.script .left.copied svg,
        section.script .left.copied div {
            color: #61a229;
            fill: #61a229;
        }

        section.script .right {
            width: 600px;
            background-color: #222;
            display: flex;
            align-items: center;
        }

        section.script .right input {
            position: absolute;
            margin-top: -1900px;
            margin-left: -1900px;
            opacity: 0;
        }

        section.script .right::before {
            content: '\01F890';
            margin-left: -13px;
            transform: scale(6);
            color: #222;
            margin-top: -20px;
        }

        section.script .code {
            padding: 1.5rem 1.5rem 1.5rem 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-family: Consolas, monospace;
            color: #e6db74;
        }

        section.script .comment {
            color: #75715e;
            padding-bottom: 0.5rem;
        }

        header section .how-to {
            display: flex;
        }

        header section .btn-html {
            margin-left: -16px;
        }

        header section .btn-html,
        header section .btn-wordpress {
            width: 128px;
            height: 128px;
            display: inline-block;
            position: relative;
            overflow: hidden;
        }

        header section .btn-html .tooltip,
        header section .btn-wordpress .tooltip {
            position: absolute;
            background-color: #222;
            color: #f5f5f5;
            white-space: nowrap;
            padding: 0.5rem;
            border-radius: 4px;
            display: flex;
            text-shadow: none;
            margin-top: 20px;
            opacity: 0.1;
            transition: all ease-in-out 0.3s;
            box-shadow: 0 4px 5px rgba(0, 0, 0, 0.5);
        }

        header section .btn-html .tooltip div,
        header section .btn-wordpress .tooltip div {
            position: absolute;
            width: 15px;
            height: 15px;
            background-color: #222;
            transform: rotate(45deg);
            margin-top: -15px;
            margin-left: 48px;
        }

        header section .btn-html:hover,
        header section .btn-wordpress:hover {
            overflow: visible !important;
        }

        header section .btn-html:hover .tooltip,
        header section .btn-wordpress:hover .tooltip {
            opacity: 1 !important;
            margin-top: 15px !important;
        }

        section.how-to {
            margin-top: 80px;
            width: 100%;
            display: flex;
            justify-content: center;
        }

        section.how-to .content {
            max-width: 750px;
            margin: 0 1rem;
        }

        section.how-to h3 {
            color: #675cad;
        }

        section.how-to p {
            color: #333;
            line-height: 26px;
        }

        section.how-to .wordpress,
        section.how-to .termos-de-uso {
            margin: 80px 0 140px 0;
        }


        footer {
            padding: 40px 0;
            background: #f5f7fa;
            position: relative;
            display: flex;
            justify-content: center;
        }

        footer:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            height: 1px;
            background: linear-gradient(to right, #8089ff, #54ceff);
            background: -webkit-linear-gradient(to right, #8089ff, #54ceff);
            background: -moz-linear-gradient(to right, #8089ff, #54ceff);
            background: -o-linear-gradient(to right, #8089ff, #54ceff);
        }

        footer a {
            text-decoration: none;
            color: #777;
            font-size: 14px;
        }

        @media (max-width: 500px) {

            header nav .container,
            header nav .navbar-nav {
                display: initial;
                text-align: center;
            }
        }

        @media (max-width: 767px) {
            header section .content {
                text-align: center;
            }

            header section .content .how-to {
                justify-content: center;
            }
        }